<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544141146357-aet8lm678afc2m2801jv836p38i21d6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544141146357-aet8lm678afc2m2801jv836p38i21d6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544141146357-ms33t6qm73455ntpv5vblte0t6gdvrkp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRGE0uXo01vbehfB2KMxmIm5IhLnWjXhM</string>
	<key>GCM_SENDER_ID</key>
	<string>544141146357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roxiit.admin</string>
	<key>PROJECT_ID</key>
	<string>roxiit-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>roxiit-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544141146357:ios:ce355a7d36125bc0436dbc</string>
	<key>DATABASE_URL</key>
	<string>https://roxiit-admin.firebaseio.com</string>
</dict>
</plist>